// Bootsrap & Bootswatch color overrides
$brand-primary: #e49134 !default;
$brand-info: #EB9110;
$navbar-default-link-hover-color: $brand-info;
$navbar-default-link-hover-bg: white;
$link-color:#e49134;
// Custom colors
$color-grey:#555;
$color-grey-2: #777;
$color-grey-3:#BBBBBB;
$color-grey-4:#F3F3F3;
$color-orange: #EB9110;
$color-yellow-green:#BEB239;
$color-green:#84A93F;
$color-blue:#4586CD;
$color-red:#E52213;

// Fonts
$primary-font-family: "Gotham", sans-serif !default; 

// Available Bootswatch Themes
@import 'themes/spacelab';
// @import 'themes/cosmo';
//@import 'themes/darkly';
//@import 'themes/simplex';
// @import 'themes/united';

