// Bootsrap & Bootswatch color overrides
$brand-primary: #e49134 !default;
$brand-info: #eb9110;
$navbar-default-link-hover-color: $brand-info;
$navbar-default-link-hover-bg: white;
$link-color: #e49134;

// Custom colors
$color-grey: #555;
$color-grey-2: #777;
$color-grey-3: #bbbbbb;
$color-grey-4: #f3f3f3;
$color-orange: #eb9110;
$color-yellow-green: #beb239;
$color-green: #84a93f;
$color-blue: #4586cd;
$color-red: #e52213;

// Fonts
$primary-font-family: 'Gotham', sans-serif !default;

// Extracted from spacelab theme:
// Colors
$gray-base: #000 !default;
$gray-darker: #555 !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: #666 !default; // #555
$gray-light: lighten($gray-base, 60%) !default; // #999
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$navbar-default-bg: #eee !default;
// fonts
$font-size-base: 14px !default;
$line-height-base: 1.428571429 !default; // 20/14
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
  sans-serif !default;

$padding-base-vertical: 8px !default;
$padding-base-horizontal: 12px !default;
$line-height-computed: floor(
  ($font-size-base * $line-height-base)
) !default; // ~20px

$input-height-base: (
  $line-height-computed + ($padding-base-vertical * 2) + 2
) !default;


$bootstrap-sass-asset-helper: false !default;

$body-bg:               #fff !default;
$text-color:            $gray-dark !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../fonts/bootstrap/") !default;

//** File name for all font files.
$icon-font-name:          "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;
$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;


$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;


$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;

$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;

//** Text color for `<input>`s
$input-color:                    $gray !default;
//** `<input>` border color
$input-border:                   #ccc !default;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            $border-radius-base !default;
//** Large `.form-control` border radius
$input-border-radius-large:      $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:      $border-radius-small !default;

//** Border color for inputs on focus
$input-border-focus:             #66afe9 !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

//** Default `.form-control` height
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

//** `.form-group` margin
$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Background color for textual input addons
//** Border color for textual input addons

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;

$zindex-popover:           1060 !default;

//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;

$navbar-height:                    50px !default;


// Navbar links
$navbar-default-link-color:                #777 !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;

$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;

$state-info-bg:                  #d9edf7 !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;


$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   276px !default;

$thumbnail-padding:           4px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            #ddd !default;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default;

$well-bg:                     #f5f5f5 !default;
$well-border:                 darken($well-bg, 7%) !default;

//** Text muted color
$text-muted:                  $gray-light !default;

$hr-border:                   $gray-lighter !default;

