body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url('assets/svg/loading-spinner.svg') url('assets/svg/loading-spinner-editor.svg')
    url('assets/svg/icon-alert.png') url('assets/svg/plus.svg') url('assets/svg/trash.svg')
    url('assets/svg/plus-white.svg') url('assets/svg/trash-white.svg');
}

@media (min-width: 651px) {
  .codex-editor--narrow .ce-toolbar__actions {
    right: 100%;
  }
}

.codex-editor__redactor {
  margin-right: 0;
}

.cdx-quote [contentEditable='true'][data-placeholder]::before {
  display: none;
}

@media (max-width: 768px) {
  .ce-toolbar__actions {
    right: 0 !important; // Place the tune menu on the right side of the screen when it's narrow
  }
}

@media (max-width: 768px) {
  .ce-popover {
    right: -50px !important; // Prevent the popover from being pushed off the right side of the screen
  }
}

@media (min-width: 768px) {
  .codex-editor--narrow .ce-toolbox .ce-popover {
    right: -140px !important; // Prevent the popover from being obscured by the navbar
  }
}

.ce-toolbar__settings-btn--hidden {
  display: flex; // Override `display: none;`. Don't remove options https://github.com/SPANDigital/presidium-theme-website/pull/186
}

.editor-button {
  transition: background-color 0.01s;
  border-radius: 4px;
  padding: 4px 10px;
}

.editor-spinner {
  position: absolute;
  background-image: url('assets/svg/loading-spinner-editor.svg');
  background-repeat: no-repeat;
  top: 1px;
  left: -25px;
  margin: auto;
  width: 20px;
  height: 20px;
  animation: rotation 1s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}

.editor-popup-panel {
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 20%);
  color: white;
  width: 419px;
  position: fixed;
  left: 50%;
  margin-left: -75px;
  z-index: 10;
  display: grid;
  padding: 11px 12px 13px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;

  .popup-text {
    margin: auto;
  }

  grid-template-columns: 40px auto 30px;
}

.editor-popup-panel-loading {
  @extend .editor-popup-panel;

  background-color: #777;
}

.editor-popup-panel-error {
  @extend .editor-popup-panel;

  background-color: #d14652;

  .ok-button {
    font-weight: normal;
    text-align: center;
    color: black;
    transition: background-color 0.01s;
    border-radius: 4px;
    height: 20px;
    margin: auto 0;
    border: none;
    background-color: white;

    &:hover {
      background-color: grey;
    }

    &:active {
      background-color: grey;
    }
  }
}

.editor-popup-panel-copy {
  @extend .editor-popup-panel;

  background-color: #000;
  grid-template-columns: 40px auto;
  width: 197px;
}

.popup-tick {
  background-image: url('assets/svg/icon-check.png');
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.popup-spinner {
  background-image: url('assets/svg/loading-spinner.svg');
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  animation: rotation 1s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}

.popup-alert-spacer {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.popup-alert {
  @extend .popup-alert-spacer;

  background-image: url('assets/svg/icon-alert.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin: auto 0;
}

.front-matter {
  grid-template-columns: 70px auto;

  label {
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
    color: grey;
  }


  .dropdown {
    .dropdown__control {
      max-width: 250px;
    }

    .dropdown__menu {
      max-width: 250px;
    }

    .dropdown__option--is-focused {
      background-color: lighten($brand-primary, 30%);
    }

    .dropdown__option--is-selected {
      color: white;
      background-color: $brand-primary;
    }

    .dropdown__indicator--is-focused {
      color: $brand-primary;
      background-color: lighten($brand-primary, 10%);
    }

    .dropdown__indicator--is-selected {
      color: $brand-primary;
      background-color: $brand-primary;
    }

    .dropdown__indicator-separator {
      display: none;
    }

    .dropdown__control--is-focused .dropdown__dropdown-indicator > svg {
      fill: $brand-primary;
    }

    .dropdown__control--is-selected .dropdown__dropdown-indicator > svg {
      fill: $brand-primary;
    }
  }
}

.editor-modal-overlay {
  background: rgba(0, 0, 0, 50%);
  position: fixed;
  inset: 0;
  z-index: $zindex-modal-background;
}

.editor-modal {
  width: 350px;
  height: 188px;
  box-shadow: 8px 8px 27px rgba(0, 0, 0, 22%);
  z-index: $zindex-modal;
  background-color: white;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -84px;
  word-break: normal;

  .title {
    font-weight: bold;
  }

  .options {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
    bottom: 25px;
    right: 25px;
    position: absolute;
  }

  .warning-button {
    @extend .editor-button;

    border: 1px solid $color-red;
    border-radius: 3px;
    background-color: $color-red;
    color: white;

    &:hover {
      background-color: darken($color-red, 10%);
      border-color: darken($color-red, 10%);
    }

    &:active {
      background-color: darken($color-red, 20%);
      border-color: darken($color-red, 10%);
    }
  }
}
