{{ $childLevel := add .Level 1 }}
{{ $items := slice }}
{{ $link := "" }}
{{ $section := .Section }}
{{ $category := .Category }}
{{ if eq .Level 1 }}
    {{ $section = .Page.Title }}
{{ end }}
{{ if eq .Level 2 }}
    {{ $category = .Page.Title }}
{{ end }}

{{ with .Page}}
    {{ $slug := humanize .Params.Title }}
    {{ $slug = anchorize $slug }}
    {{ $slug = replaceRE `(-{2,})` "-" $slug }} {{/* Replaces multiple dashes with one */}}
    {{ if .Params.Slug }}
        {{ $slug = .Params.Slug}}
    {{ end }}
    {{ if .Data.Pages }}
        {{ $link = .RelPermalink }}
    {{ end }}
    {{if not .Data.Pages }}
        {{ $link = (printf "%v#%v" .Parent.RelPermalink $slug ) }}
    {{end}}
    {{ $scope := slice }}
    {{ if .Params.Scope }}
        {{ $scope = $scope | append .Params.Scope }}
    {{ end }}
    {{ $tags := apply .Params.tags "cast.ToString" "."}}
    {{ $summary := (index (split .Content "</p>") 0) | plainify | htmlUnescape }}
    {{ $items = $items | append (dict "id" .File.Path "title" .Title "slug" $slug "url" $link "section" ($section | default "") "category" ($category | default "") "tags" ($tags | default slice) "roles" (slice (.Params.Roles | default "All Roles")) "scope" $scope "author" (.Params.Author | default "None") "content" .Plain "originalContent" .RawContent "updated" .Lastmod "summary" $summary  )}}
    {{ range .Data.Pages }}
        {{ range (partial "searchmap/item" (dict "Page" . "Level" $childLevel "Section" $section "Category" $category ) ) }}
          {{ $items = $items | append . }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $items }}
