{{ define "metadata" }}
    <meta name='title' property='og:title' content='{{ .Title }}' />
    <meta name='type' property='og:type' content='' />
    <meta name='image' property='og:image' content='' />
    <meta name='url' property='og:url' content='' />
    <meta name='description' property='og:description' content='{{ .Summary }}' />
{{ end }}

{{ define "header" }}
{{ .Scratch.Set "scope" "single" }}
{{ partial "page/header" . }}
{{ end }}

{{ define "content" }}
{{ if eq $.Site.Params.archive.path .File.Path }}
    {{ partial "common/archive" . }}
{{ else }}
    {{ partial "blog/root" . }}
{{ end }}
{{ end }}

{{ define "footer" }}
{{ partial "page/footer" . }}
{{ end }}