{{- if .Site.Params.show.author -}}
    {{- if .Params.author -}}
        {{/* If you want to change the author label then you need to set the field in the config */}}
        {{- $authorLabel := .Site.Params.author.label | default "Author" -}}
        {{/* If you want to use the gitinfo then set "enableGitInfo: true" in your config file */}}
        {{- with .GitInfo -}}
            <div class="article-author">
                {{ $authorLabel }}: <a href="mailto:{{ .AuthorEmail }}" target="_blank">{{ .AuthorName }}</a>
            </div>
        {{- else -}}
            <div class="article-author">
                {{ $authorLabel }}: {{ .Params.author }}
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}
