{{/*  Returns the pages after filtering out the archived articles  */}}
{{ $pages := .Pages }}
{{ if and $.Site.Params.archive (ne $.Site.Params.archive.age 0)}}
    {{ $age := mul 86400 $.Site.Params.archive.age }}
    {{ $before := sub now.Unix $age }}
    {{ $activePages := (where .RegularPages "Date.Unix" "gt" $before) }}

    {{/* show a limited number (unarchived + archived) items if there are too few active articles in section */}}
    {{ $isItems := isset $.Site.Params.section "items" }}
    {{ $items := $.Site.Params.section.items }}
    {{ $showItems := and $isItems (not (ge (len $activePages) $items)) }}
    {{ $pages = cond $showItems (first $items .RegularPages.ByDate.Reverse) $activePages }}

    {{/* retain nested sections */}}
    {{ $pages = cond $isItems ($pages | append .Sections) $pages }}
{{ end }}
{{ return $pages }}
