{{ define "content" }}

    {{ $site_scopes := .Site.Data.scopes.applied }}
    {{ $site_scopes_enabled := .Site.Data.scopes.enabled }}
    {{ $pages := .Data.Pages }}
  
    {{ range $pages }}

        {{ $apply_scope := and (.Params.scope) $site_scopes }}
        {{ $rendering := not $apply_scope }}
        {{ $page_scope := .Params.scope }}
        
        {{ if $apply_scope }} 
            {{ $rendering = gt (len (intersect .Params.scope $site_scopes)) 0 }}
        {{ end }}

        {{ if $rendering }}
            {{ partial "article" . }}
        {{ end }}

    {{ end }}
{{ end }}
