{{ define "content" }}
    {{ .Content }}
    
    {{ $siteScopes := .Site.Params.scopes }}
    {{ $siteScopesEnabled := .Site.Params.scopesEnabled }}
    {{ $pages := .Data.Pages }}
  
    {{ range where .Data.Pages.ByWeight "Params.hidden" "ne" true }}

        {{ $isRendering := true }}

        {{ if (isset .Params "scope") }}
            {{ if $siteScopesEnabled }}
                {{ $pageScopes := .Params.scope }}
                {{ $isRendering = gt (len (intersect ($siteScopes $pageScopes)) 0 ) }}    
            {{ end }}
        {{ end }}

        {{ if $isRendering }}
            {{ partial "article" . }}
        {{ end }}

    {{ end }}
{{ end }}
