{{ $roles := .Params.roles | default "All roles" }}
{{ $link := (printf "%v#%v" .Parent.Permalink .Params.Slug ) }}
{{ $type := "parent" }}
{{if not .Data.Pages }}
    {{ $type = "child" }}
{{end}}
{{ $pageSlug := (printf "%v-%v" (.Parent.Params.Slug | default "root") .Params.Slug )}}
<div class="article {{ $type }}" data-roles="{{ $roles }}">
<!--<div class="article" data-roles="{{ $roles }}" id="{{ $link }}">-->
    <div class="presidium-article-wrapper">
        <span class="anchor" id="{{ $pageSlug }}" data-id="{{ with .File }}{{ .Filename }}{{ end }}"></span>
        <div class="article-title" >
            {{ if not .Data.Pages }}
                <h2>{{ .Title }} {{ partial "edit-link.html" }}</h2>
            {{ else }}
                <h1>{{ .Title }} {{ partial "edit-link.html" }}</h1>
            {{ end }}
           
            <div class="permalink">
                <a class="link-icon" href="#{{ $pageSlug }}" title="Permalink to this article"></a>
            </div>
        </div>

        {{ partial "article-header" . }}

        <article>{{ .Content }}</article>

        {{ range .Data.Pages.ByWeight }}

            {{ partial "article" . }}

        {{ end }}

        {{ if not .Data.Pages }}
            <hr>
        {{ end }}
    </div>
</div>
