{{ $roles := .Params.roles | default "All Roles" }}

{{/* Use title if no slug */}}
{{ $slug := anchorize .Params.Title }}
{{ if .Params.Slug }}
    {{ $slug = .Params.Slug}}
{{ end }}

{{/* Parent slug */}}
{{ $parentSlug := ((anchorize .Parent.Params.Title) | default "root") }}
{{ if .Parent.Params.Slug }}
    {{ $parentSlug = .Parent.Params.Slug}}
{{ end }}

{{ $type := "parent" }}
{{if not .Data.Pages }}
    {{ $type = "child" }}
{{end}}
{{ $dataId := .Params.id | default .File.Path }}
{{ $pageSlug := (printf "%v-%v" ($parentSlug) $slug )}}
{{ $nestedArticles := .Site.Params.includeNestedArticles | default true }}

<div class="article {{ $type }}" data-roles="{{ $roles }}" id="{{ $pageSlug }}">
    {{ if or (ne (len .Content) 0) $nestedArticles }}
    <div class="presidium-article-wrapper">
        <span class="anchor"  id="{{ $slug }}" data-id="{{ $dataId }}"></span>
        <div class="article-title" >
            {{ if eq .Parent.Title .Title}}
            {{ else if not .Data.Pages }}
                <h2>{{ .Title }} {{ partial "edit-link.html" }}</h2>
            {{ else }}
                <h1>{{ .Title }} {{ partial "edit-link.html" }}</h1>
            {{ end }}
           
            <div class="permalink">
                <a class="link-icon" href="#{{ $slug }}" title="Permalink to this article"></a>
            </div>
        </div>

        {{ partial "article-header" . }}

        <article>{{ .Content }}</article>

        {{ if $nestedArticles }}
            {{ range .Data.Pages.ByWeight }}
                {{ partial "article" . }}
            {{ end }}
        {{ end }}

        {{ if not .Data.Pages }}
            <hr>
        {{ end }}
    </div>
    {{ end }}
</div>
