{{ $roles := .Params.roles | default "All roles" }}
{{ $link := (printf "%v#%v" .Parent.Permalink .Params.Slug ) }}

<div class="article" data-roles="{{ $roles }}" id="{{ .Slug }}">
    <div class="presidium-article-wrapper">
        <span class="anchor"  data-id="{{ with .File }}{{ .Filename }}{{ end }}"></span>
        <div class="article-title" >
            <h2>
                {{ .Title }} {{ partial "edit-link.html" }}
            </h2>
            <div class="permalink">
                <a class="link-icon" href="{{ .RelPermalink }}" title="Permalink to this article"></a>
            </div>
        </div>

        {{ partial "article-header" . }}

        <article>{{ .Content }}</article>

        {{ range sort .Data.Pages "RelPermalink" }}

            {{ partial "article" . }}

        {{ end }}
        <hr>
    </div>
</div>
