{{ $childLevel := add .Level 1 }}
{{ $currentPage := .CurrentPage }}

{{/* rootUrl is the baseUrl but it defaults to "/" if no baseUrl is set */}}
{{ $rootUrl := .RootUrl }}

{{/* checks if the nav-item is pointing to the current article */}}
{{ $onArticle := eq .CurrentPage.RelPermalink .NavPage.RelPermalink }}

{{/* checks if the current nav-item should be visible  */}}
{{ $show := or (or (eq .Level 1) $onArticle) .Show }}

{{/* opens the menu if nav-item is a parent of the current article  */}}
{{ $openMenu := false }}
{{ if hasPrefix .CurrentPage.RelPermalink .NavPage.RelPermalink }}
    {{ $openMenu = not (eq .NavPage.RelPermalink $rootUrl) }}
{{ end }}

{{/* or pointing to the current article */}}
{{ if $onArticle }}
    {{ $openMenu = true }}
{{ end }}

{{/* set menu class */}}
{{ $state := cond $openMenu "open" "closed" }}

{{/* checks if the article has children */}}
{{ $isParent := .NavPage.Data.Pages}}

{{/* checks if the article has no children  */}}
{{ $isChild := not $isParent }}

{{/* Use title if no slug */}}
{{ $slug := anchorize .NavPage.Params.Title }}
{{ if .NavPage.Params.Slug }}
    {{ $slug = .NavPage.Params.Slug}}
{{ end }}

{{/* Parent slug */}}
{{ $parentSlug := ((anchorize .NavPage.Parent.Params.Title) | default "root") }}
{{ if .NavPage.Parent.Params.Slug }}
    {{ $parentSlug = .NavPage.Parent.Params.Slug}}
{{ end }}

{{/* adds the slug to the link if the article has no children */}}
{{ $articleLink := .NavPage.Permalink }}
{{if $isChild }}
    {{ $articleLink = (printf "%v#%v" .NavPage.Parent.Permalink $slug ) }}
{{end}}

{{/* combines the parent slug with the current slug to ensure it's globally unique */}}
{{ $pageSlug := (printf "%v-%v" ($parentSlug) $slug )}}

{{/* allows the user to override the article id from the front matter */}}
{{ $articleId :=  .NavPage.Params.id | default  .NavPage.File.Path }}

<li class="menu-row menu-parent_{{ $parentSlug }} collapse {{ if $show }}in{{end}} {{ if $isParent}}{{$state}}{{end}} {{ if not $isParent }}child{{end}}" style="overflow: hidden;{{ if not $show }}height: 0;{{ end }}">
    <a class="{{ if eq .Index 0 }}first-child{{end}} level-{{ .Level }}" data-slug="{{ $slug }}" data-target="#{{$pageSlug}}"  data-id="{{ $articleId }}" href="{{ $articleLink }}">
        {{ if .NavPage.Data.Pages }}
            <div class="menu-expander" data-toggle="collapse" data-target=".menu-parent_{{ $slug }}" aria-controls=".menu-parent_{{ $slug }}">
                {{ if $openMenu }}
                    <span class="glyphicon glyphicon-chevron-down glyphicon-toggle"></span>
                {{ else }}
                    <span class="glyphicon glyphicon-chevron-right glyphicon-toggle"></span>
                {{ end }}
            </div>
        {{ end }}
        <div class="menu-title">
            {{ .NavPage.Name }}
        </div>
    </a>

    {{ if and (.NavPage.Data.Pages) }}
        <ul>
        {{ range $index, $subMenu := .NavPage.Data.Pages }}
            {{ if and (eq .Parent.Title .Title) (eq $index 0) }}
                {{/*  No link needed - For when the main title is the same as the first article  */}}
            {{ else if not $subMenu.Params.hidden }}
                 {{ partial "nav-item" (dict "CurrentPage" $currentPage "NavPage" $subMenu "Level" $childLevel "Index" $index "RootUrl" $rootUrl "Show" $openMenu) }}
            {{ end }}
        {{ end }}
        </ul>
    {{ end }}
</li>