{{ $childLevel := add .Level 1 }}
{{ $levelCssClasses := dict "1" "level-one" "2" "level-two" "3" "level-three" "4" "level-four" "5" "level-five" "6" "level-six"}}
{{ $cssClass := index $levelCssClasses (string .Level) }}
{{ $currentPage := .CurrentPage }}
{{ $thisArticle := eq .CurrentPage.RelPermalink .NavPage.RelPermalink }}
{{ $isAncestor := or ($thisArticle) (and (not (eq .NavPage.Parent.RelPermalink "/")) (hasPrefix .CurrentPage.RelPermalink .NavPage.Parent.RelPermalink))  }}
{{ $onArticle := eq .CurrentPage.RelPermalink .NavPage.Parent.RelPermalink }}
{{ $showMenu := or (eq $childLevel 2) $isAncestor }}
{{ $expandedChevron := (hasPrefix .CurrentPage.RelPermalink .NavPage.RelPermalink ) }}
{{ $link := "Unset" }}
{{ if $onArticle }}
    {{ $link = (printf "#%v" .NavPage.Params.Slug ) }}
{{ else }}
    {{if not .NavPage.Data.Pages }}
        {{ $link = (printf "%v#%v" .NavPage.Parent.Permalink .NavPage.Params.Slug ) }}
    {{ else }}
        {{ $link = (printf "%v" .NavPage.Permalink) }}
    {{end}}
{{end}}
<li class="menu-parent_{{ .NavPage.Parent.Slug }} collapse {{ if $showMenu }}in{{end}}" style="overflow: hidden;{{ if not $showMenu }} height: 0px; {{ end }}">
    <a class="menu-row {{ $cssClass }}" data-slug="{{ .NavPage.Slug }}" data-id="{{ .NavPage.File.Filename }}" href="{{ $link }}">
        {{ if .NavPage.Data.Pages }}
            <div class="menu-expander" data-toggle="collapse" data-target=".menu-parent_{{ .NavPage.Slug }}" aria-controls=".menu-parent_{{ .NavPage.Slug }}">
                {{ if $expandedChevron }}
                    <span class="glyphicon glyphicon-chevron-down glyphicon-toggle"></span>
                {{ else }}
                    <span class="glyphicon glyphicon-chevron-right glyphicon-toggle"></span>
                {{ end }}
            </div>
        {{ end }}
        <div class="menu-title">
                {{ .NavPage.Name }}
        </div>
    </a>

    {{ if and (.NavPage.Data.Pages) }}
        {{ range .NavPage.Data.Pages }}
            {{ partial "nav-item" (dict "CurrentPage" $currentPage "NavPage" . "Level" $childLevel) }}
        {{ end }}
    {{ end }}
</li>
