{{ $slug := humanize .Params.Title }}
{{ $articleId := .Params.id | default .File.Path }}

{{ $uid := .File.UniqueID }}
{{ $roles := .Params.roles | default "All Roles" }}

<li class="menu-row collapse child" style="overflow: hidden;" data-roles="{{ $roles }}">
    <div class="link level-3">
        <a class="level-3 first-child" data-slug="{{ $slug }}" href="{{ .RelPermalink }}">
            <div class="menu-title">
                {{ .Title }}
            </div>
        </a>
        <div class="article-navbar-options" >
        </div>
    </div>
</li>