{{ $context := . }}
{{ range $index, $schema := .Site.Params.frontmatter }}
    {{ if eq $schema.key "author" }}
        {{ $value := $context.Param $schema.key }}
        {{ if and (eq $schema.required true) (not (partialCached "article/authorisempty" $value $value)) }}
            {{ errorf "%s field is empty, path: ./%s" $schema.key $context.Path }}
        {{ else if not (partialCached "article/authorisvalid" $value $value) }}
            {{ errorf "%s: %s is not a valid email address, path: ./%s" $schema.key $value $context.Path }}
        {{ end }}
    {{ end }}
{{ end }}
