{{ $src := .Get "src" }}
{{ $url := urls.Parse $src }}
{{ if or (.Page.Parent.Resources.GetMatch $src) (.Page.Resources.GetMatch $src) }}
    {{ $src = printf "%s/%s%s" (strings.TrimSuffix "/" site.BaseURL) .Page.Dir $src }}
{{ else if not $url.Scheme  }}
    {{ $src = printf "%s/%s" (strings.TrimSuffix "/" site.BaseURL) $src }}  
{{ end }}

{{ $ignore := (slice "attrlink" "attr" "link" "alt" "caption" "title" "src")}}
{{ $attrs := ""}}
{{ range $key, $value :=  .Params}}
    {{ if not (in $ignore $key) }}
        {{ $attrs = (printf "%s=%s %s" $key $value $attrs)}}
    {{ end }}
{{ end }}

<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img src="{{ $src }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} {{$attrs | safeHTMLAttr}} />
        {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
        <figcaption>{{ if isset .Params "title" }}
                <h4>{{ .Get "title" }}</h4>{{ end }}
            {{ if or (.Get "caption") (.Get "attr")}}<p>
                {{ .Get "caption" }}
                {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
                    {{ .Get "attr" }}
                    {{ if .Get "attrlink"}}</a> {{ end }}
            </p> {{ end }}
        </figcaption>
    {{ end }}
</figure>