{{ $title := .Get 0}}
{{ $ref := .Get 1}}
{{ $page := "" }}

{{ if $ref }}
    {{ $page = .Site.GetPage $ref }}
{{ else }}
    {{ range where (where .Site.Pages "Section" "glossary") "Title" "=" $title }}
        {{ $page = . }}
    {{ end }}
{{ end }}

{{ if $page }}
    <a class="tooltips-term" href="{{ $page.Permalink }}" >
        {{ $title }}<span class="tooltips-text">{{ $page.Content | truncate 100 | plainify }}</span>
    </a>
{{ else }}
    {{ errorf "Wrong document provided: %s in %s" $ref .Page.File }}
{{ end }}
